<a  class="btn btn-primary" routerLink="/add">Add Product</a>
<br/>
<br/>  
<div class="table-responsive" style="width:600px">
<table class="table  table-bordered">
  <thead>
    <th>Id</th>
    <th>Image</th>
    <th>Name</th>
    <th>Price</th>
    <th>Quantity</th>
    <th>Company</th>
    <th>Action</th>
  </thead>
  <tr *ngFor="let product of productDetail ">
<td>{{product.id}}</td>
<td > <img [src]="product.image"  height="50px" width="50px" /></td>
<td >{{product.name}}</td>
<td >{{product.price}}</td>
<td >{{product.availableQuantity}}</td>
<td >{{product.company}}</td>
<td><a [routerLink]="['/edit', product.id]">
    Edit
  </a></td>
  </tr>
</table>
</div>

